
.App{
     width: 100%;
    margin: 0px;
    padding: 0px;
}
.app-ctn{
  margin:  13% 25%;
}
form {
    margin: 1%;
    background-color: rgb(207, 207, 207);
    padding: 1rem 1rem;
    width: 100%;
    font-size: 18px;
    max-width: 31.25rem;
    border-radius: 8px;
    box-shadow: lavenderblush;
  }
  .form-control{
    margin:3%
  }
  section form h2 {
    padding: 0;
  }
  
 
  /* media queries */

  #clear-btn{
    padding: 2% 4%;
  }
  .title-second-section{
    padding: 3%;
    font-size: 21px;
  }
  .product-des{
    margin: 5% 0%;
    word-spacing: 2px;
    font-size: 20px;
  }
  .product-price{
    margin: 3% 0%;
  }
  .price{
    margin: 1%;
  }
  #name , #email{
    font-size: 25px;
  }
  .wishlist-items{
     margin:  7%;
  }
  .cart-controller{
    margin: 7%;
  }