.header-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 25px;
    background-color: rgb(154, 221, 38);
    padding: 2%;
}
.header-second-section{
    display: grid;
    grid-template-columns : 1fr 1fr 1fr 1fr;
}
#link-one > a {
    text-decoration: none;
}