.header-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 25px;
    background-color: rgb(188, 185, 185);
    color: black;
    padding: 2%;
    position:fixed;
    top:0px;
    width: 100%;
}
.header-second-section{
    display: grid;
    grid-template-columns : 1fr 1fr 1fr 1fr;
}
#link-one > a {
    text-decoration: none;
    color: black;
    font-size:25px;
}